/* Estilos para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
.intro{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  
  }
/* Estilos para el encabezado */
h1 {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-bottom: 5px solid #0056b3;
}

/* Estilos para el formulario */
form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para la lista de contactos */
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}

li {
  margin-bottom: 10px;
  font-size: 16px;
}

/* Estilos para enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}